<form {{action 'authenticate' on='submit'}}>
  <label for="identification">Login</label>
  {{input class='form-control' value=identification placeholder='Enter Login'}}
  <br>
  <label for="password">Password</label>
  {{input class='form-control' value=password placeholder='Enter Password' type='password'}}
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>